option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: 'production'
        products: 'https://g7jj8pkjc3.execute-api.eu-west-1.amazonaws.com/dev'
        cart: 'https://w9wglhsyph.execute-api.eu-west-1.amazonaws.com/dev/api/profile'
    aws:elasticbeanstalk:container:nodejs:
        NodeCommand: "npm run start"
